[submodule "scripts/i18n"]
	path = scripts/i18n
	url = https://gerrit.wikimedia.org/r/pywikibot/i18n
	branch = .
	ignore = all

[submodule "externals/httplib2"]
	path = externals/httplib2
	url = https://gerrit.wikimedia.org/r/pywikibot/externals/httplib2
	branch = .
	ignore = all
